{% extends '::base.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <p class="lead">
            This website focusses on all the projects which have single contributors with the desire of quality feedback.
            <br />
            <br />
            You can apply by mentioning <a href="https://github.com/LonelyPullRequests"><strong>@lonelypullrequests</strong></a> in the GitHub pull request you created.
        </p>
    </div>

    <div class="row overview">
        <div class="col-lg-12">
            <h4>Loneliest pull requests</h4>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Pull request</th>
                        <th>Loneliness</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pullRequest in pullRequests %}
                        <tr>
                            <td><a href="{{ pullRequest.url }}">{{ pullRequest.title }}</a></td>
                            <td>{{ pullRequest.loneliness }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
